<style>
    @font-face {
        font-family: 'Rubik Regular';
        src: url({{ "fonts/Rubik/Rubik-Regular.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Rubik Bold';
        src: url({{ "fonts/Rubik/Rubik-Bold.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Rubik Italic';
        src: url({{ "fonts/Rubik/Rubik-Italic.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Rubik Bold Italic';
        src: url({{ "fonts/Rubik/Rubik-BoldItalic.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: italic;
    }

    body {
        font-family: "Rubik Regular";
    }
</style>