{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<section class="section">
	<div class="center">
		<div class="slide-info">
			<div class="content {{ if not $.disableFullheight }} margin-bottom-50 {{ end }}">
				{{ if .ctx.Site.Params.MoveIt }}
					{{ if not .ctx.Params.hideTitle }}
						<div class="text-center">
							<a class="a-clean" href="{{ .ctx.Page.RelPermalink }}">
								<h1>{{ .ctx.Title }}</h1>
							</a>
						</div>
					{{ end }}
				{{ end }}
				{{ .ctx.Content }}
			</div>
		</div>
	</div>
</section>

{{ partial "footer.html" . }}